@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-modal: #00000050;
  --foreground: #171717;
  --onyx-dark: #121416;
  --slate-gray: #6C757D;
  --slate-c: #CCCCCC;
  --slate-e: #E3E3E3;
  --ash-gray: #757575;
  --silver-cloud: #A9A9A9;
}

.no-scroll{
  height: 100%;
  overflow: hidden;
}